<div id="loading-screen" class="loading-screen"></div>
<i id="loading-spinner" class="loading-spinner fa fa-2x fa-spinner fa-spin"></i>

<script>
    window.addEventListener('load', function() {
        document.getElementById('loading-screen').classList.add('loaded');
        document.getElementById('loading-spinner').classList.add('loaded');
    });
</script>