<div class="reviews-modal__wrapper">
    <div class="reviews-modal">
        <div class="reviews-modal__close"><i class="fal fa-times fa-2x"></i></div>
        <div class="reviews-modal-row">
            <div class="reviews-modal-col bv-patio-review">
                <div class="reviews-button">
                Search Patio
                </div>
            </div>
            <div class="reviews-modal-col bv-playhouses-review">
                <div class="reviews-button">
                Search Playhouses
                </div>
            </div>
            <div class="reviews-modal-col bv-playsets-review">
                <div class="reviews-button">
                    Search Swing Sets & Playsets
                </div>
            </div>
            <div class="reviews-modal-col bv-playset-accessory-review">
                <div class="reviews-button">
                    Search Playset Accessory
                </div>
            </div>
        </div>
  </div>  
  <div class="reviews-modal-overlay"></div>
</div>