<section class="product-template__content-section care-maintenance-wrapper page-width">
  <div class="vid-container">
    <h2>{{ 'products.product.swing_set_care_and_maintenance' | t }}</h2>
    <a href="https://www.youtube.com/playlist?list=PLNLr05rrk4xMjOMgrZ46yuKS509kgyNdh" class="youtube-video-link"
      target="_blank">{{ 'products.product.watch_on_youtube' | t }}</a>

    <div>
      <a href="https://www.youtube.com/playlist?list=PLNLr05rrk4xMjOMgrZ46yuKS509kgyNdh" target="_blank">
        <img
          src="https://cdn.shopify.com/s/files/1/0545/0041/files/backyard-discovery-care-and-maintenance.jpg?v=1618589281"
          class="youtube-video-thumb" alt="{{ 'products.product.watch_on_youtube' | t }}" />
      </a>
    </div>
  </div>
</section>