
    <div class="youtube-modal__overlay"></div>
    <div class="youtube-modal__modal">
        <div class="youtube-modal__close">
            <i class="fal fa-times"></i>
        </div>
        <div class="embed-container"></div>
    </div>
