{% include 'page-header' %}
{% include 'breadcrumbs' %}

<div class="page-width page-width--mb">
<div id="as-root"></div>
<script>// <![CDATA[
(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="//button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")
// ]]></script>
<div id="page" class="row">
  <div class="span12 details">
    {{ page.content }}
  </div>
</div>
</div>